body {
    background: #ccc;
    font-family: 'Roboto', sans-serif;
    position: relative; bottom: 53px;
    margin-top: relative; right: 8px; 
    width: 100%;
}

h1 {
    text-align: center;
    transform: translateY(10px);
    color: #fff;
}

.me {
    text-align: center;
}

.tab-content{
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
}
.tab-content input[type="radio"] {
    display: none;
}
.tab-content label{
    padding: 25px;
    background: #e2e2e2;
    font-weight: bold;
    margin-top: relative; right: 10px;
    border-right: solid;
}

.tab-content .tab {
    width: 100%;
    background: #babbb7;
    order: 1;
    display: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.tab-content input[type='radio']:checked + label + .tab {
    display: block;
}

.tab-content input[type="radio"]:checked + label {
    background: #babbb7;
}

.image1 {
    margin-left: 45%;
    transform: translateY(113px);
}

.image {
    margin-left: 44.5%;
    transform: translateY(-112px);
}

.image2 {
    margin-left: 44.1%;
    transform: translateY(-192px);
}

.text1{
    margin-left: 49.2%;
    transform: translateY(55px);
}

.text {
    margin-left: 49.3%;
    transform: translateY(-177px);
}

.text2 {
    margin-left: 49%;
    transform: translateY(-259px);
}

.boardfirst {
    margin-left: 70%;
    margin-top: -14%;
} 

.cwguess {
    margin-left: 7%;
    margin-top: 3%;
}

.c {
    margin-left: 22.8%;
    margin-top: 1%;
    font-size: 1.1vw;
    
}

.d {
    margin-left: 65%;
    margin-top: 1%;
    font-size: 1.1vw;
}

.cw2 {
    margin-left: 7%;
    margin-top: 10%;
}

.board2 {
    margin-left: 70%;
    margin-top: -17%;
} 

.e {
    margin-left: 21.8%;
    margin-top: 1%;
    font-size: 1.1vw;
}

.f {
    margin-left: 73%;
    margin-top: 1%;
    font-size: 1.1vw;
}

.rect1 {
    background: #d63636;
    border: solid;
}

.rect2 {
    background: #d63636;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid;
}

.rect3 {
    background: #d63636;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid;
}

.ff {
    max-width: 50%;
    height: auto;
}

.gg {
    max-width: 100%;
    height: auto;
}

.hh {
    max-width: 50%;
    height: auto;
}

.ii {
    max-width: 100%;
    height: auto;
}

